<style type="text/css">
	.file-drop-zone-over {
		border: 2px dashed #aaa;
		padding: 30px;
		text-align: center;
	}
	.remove {
		float: right;
		color: green;
	}
	.remove:hover {
		color: red;
		cursor: pointer;
		font-size: 16px;
	}
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="page-header"><h1>Profile Settings</h1></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3" ng-if="social">
        <legend>Social Connections</legend>
        <alert ng-repeat="alert in socialAlerts" type="{{alert.type}}" close="closeSocialAlert($index)">{{alert.msg}}</alert>
        <a ng-repeat-start="(provider, property) in social" ng-if="property.connected" ng-click="disconnect(provider)" class="btn btn-block btn-danger"><i ng-class="'fa ' + property.icon + ' fa-lg'"></i> Disconnect {{property.text}}</a>
        <a ng-repeat-end target="_self" href="{{property.connect}}" ng-if="!property.connected" class="btn btn-block btn-default"><i ng-class="'fa ' + property.icon + ' fa-lg'"></i> Connect {{property.text}}</a>
    </div>
</div>
<div class="col-md-12">
    <div class="portlet light memberupdate">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject font-green-sharp sbold">Photo Upload</span>
            </div>
        </div>
        <div class="portlet-body">
            <form name="photoForm" class="form-horizontal">
                <div class="form-group">
                	<div class="col-md-12">
                		<div class="col-md-5">
	                        <div class="file-drop-zone margin-bottom-20" file-dropzone="file.upload" files-to-upload="files" style="margin-bottom: 10px">
	                        	<span>Drop Image Here</span>
	                        </div>
	                    </div>
	                    <div class="col-md-5" align="center">
	                        <input class="file-browser" type="file" name="propertyImage" file-model="file.upload" files-to-upload="files" ng-disabled="uploading" multiple>
	                    </div>
                	</div>
                    <div class="col-md-12" align="center">
	                   	<div ng-repeat="file in files"  style="position: relative; float: left; width: 200px; height: 200px; margin-right: 20px; margin-bottom: 50px">
	                   		<div>
	                   			<span class="remove" ng-click="remove($index)">X</span>
	                   			<img ng-src="{{file.preview}}" class="img-thumbnail" style="display: block; width: 200px; height: 200px;">
	                   		</div>
	                   		<div style="margin-top: 10px;">{{file.name}}</div>
	                   	</div>
                   	</div>
                </div>                        
                <div class="form-group">
                    <label class="col-md-3 control-label" for="setPhoto"></label>
                    <div class="col-md-5" align="right" style="margin-left: 155px">
                        <button type="button" class="btn red btn-outline sbold uppercase btn-lg" id="notific8_show" ng-click="submit(photoForm)"> Upload </button>
                    </div>
                    <div ng-show="files[0].name != null">
	                   	<label>+1 pt</label>
                   	</div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="page-content-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light memberupdate">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green-sharp sbold">Property Detail</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <form class="form-horizontal" name="detailForm">
                        <alert ng-repeat="alert in alerts.detail" type="{{alert.type}}" close="closeAlert('detail', $index)">{{alert.msg}}</alert>
                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.propertyType)}">
                            <label class="col-md-3 control-label" for="propertyType">Property Type:</label>
                            <div class="col-md-5">
                            	<div id="inputType">
	                            	<select id="notific8_life" name="propertyType" class="form-control input-medium" ng-model="propertyDetail.propertyType" style="margin-bottom: 15px" required> 
	                                	<option value=""></option>                                                     
	                                    <option value="residential">Residential</option>
	                                    <option value="multi-family">Multi-Family</option>
	                                    <option value="commercial">Commercial</option>
	                                    <option value="land">Land</option>                                    
	                                </select>
	                                <span class="help-block" ng-show="showError(detailForm.propertyType, 'required')">This field is required</span>
                            	</div>
                            	<!-- Select multi-family -->
                                <div ng-show="propertyDetail.propertyType == 'multi-family'">
                                	<div id="selectUnit">
		                                <select class="form-control" ng-model="propertyDetail.multiFamilyUnit" style="width: 70px; margin-bottom: 10px">
		                                	<option value="2">2</option>
		                                	<option value="3">3</option>
		                                	<option value="4">4</option>
		                                </select>
                                	</div>
                                </div>
                                <!-- End multi-family -->
                                <!-- Select Commercial -->
                                <div ng-show="propertyDetail.propertyType == 'commercial'">
	                                <div id="selectContent">
	                             		<select class="form-control" ng-model="propertyDetail.commercialContent" style="width: 175px; margin-bottom: 10px">
			                               	<option value="Apt Complex">Apt Complex</option>
			                               	<option value="Mixed Use">Mixed Use</option>
			                               	<option value="Other">Other</option>                                                   
		                               	</select>
	                           		</div>
	                           		<div id="textOther" ng-show="propertyDetail.commercialContent == 'Apt Complex'">
	                                	<input type="number" name="commercialComplex" class="form-control" ng-model="propertyDetail.commercialComplex" min="1" style="width: 175px;">
                                	</div>
	                           		<div id="textOther" ng-show="propertyDetail.commercialContent == 'Other'">
	                                	<input type="text" name="commercialOther" class="form-control" ng-model="propertyDetail.commercialOther" style="width: 175px;">
                                	</div>
                                </div>
                                <!-- End Commercial -->
                                <!-- Select Land -->
                                <div ng-show="propertyDetail.propertyType == 'land'">
                                	<label>Do you know if this property is build-able?</label>
                                	<div class="input-group">
                                		<input type="radio" ng-model="propertyDetail.landBuild" name="landBuild" value="Yes">&nbsp;&nbsp;Yes
                                	</div>
                                	<div class="input-group">
                                		<input type="radio" ng-model="propertyDetail.landBuild" name="landBuild" value="No">&nbsp;&nbsp;No
                                	</div>
                                	<div class="input-group">
                                		<input type="radio" ng-model="propertyDetail.landBuild" name="landBuild" value="Unknown">&nbsp;&nbsp;Unknown
                                	</div>
                                </div>
                                <!-- End Land -->
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.propertyAddress)}">
                            <label class="col-md-3 control-label" for="propertyAddress">Property Address:*</label>
                            <div class="col-md-5">
                                <input type="text" name="propertyAddress" id="notific8_text" class="form-control" ng-value="{{address}}" gm-places-autocomplete ng-model="propertyDetail.propertyAddress" required>
                                <span class="help-block" ng-show="showError(detailForm.propertyAddress, 'required')">This field is required</span>
                            </div>
                            <div ng-show="address != ''">
			                   	<label>+1 pt</label>
		                   	</div>
                        </div>                        
                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.propertyCity)}">
                            <label class="col-md-3 control-label" for="propertyCity">City:*</label>
                            <div class="col-md-5">
                                <input type="text" name="propertyCity" id="notific8_text" class="form-control" ng-model="propertyDetail.propertyCity" required>
                                <span class="help-block" ng-show="showError(detailForm.propertyCity, 'required')">This field is required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="propertyState">State:</label>
                            <div class="col-md-5">
                                <input type="text" name="propertyState" id="notific8_text" class="form-control" ng-model="propertyDetail.propertyState" required>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.propertyZip)}">
                            <label class="col-md-3 control-label" for="propertyZip">Zip:*</label>
                            <div class="col-md-5">
                                <input type="text" name="propertyZip" id="notific8_text" class="form-control" ng-model="propertyDetail.propertyZip" required pattern="[0-9].{2,4}" required title="3 to 5 Digits Only">
                                <span class="help-block" ng-show="showError(detailForm.propertyZip, 'required')">5 Digit Only</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="propertyCounty">County:</label>
                            <div class="col-md-5">
                                <input type="text" name="propertyCounty" id="notific8_text" class="form-control" ng-model="propertyDetail.propertyCounty" required>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.ownerFirstName)}">
                            <label class="col-md-3 control-label" for="ownerFirstName">Owner First Name:*</label>
                            <div class="col-md-5">
                                <input type="text" name="ownerFirstName" id="notific8_text" class="form-control" ng-model="propertyDetail.ownerFirstName" required>
                                <span class="help-block" ng-show="showError(detailForm.ownerFirstName, 'required')">This field is required</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.ownerLastName)}">
                            <label class="col-md-3 control-label" for="ownerLastName">Owner Last Name:*</label>
                            <div class="col-md-5">
                                <input type="text" name="ownerLastName" id="notific8_text" class="form-control" ng-model="propertyDetail.ownerLastName" required>
                                <span class="help-block" ng-show="showError(detailForm.ownerLastName, 'required')">This field is required</span>
                            </div>
                            <div ng-show="propertyDetail.ownerLastName != null && propertyDetail.ownerFirstName != null">
			                   	<label>+1 pt</label>
		                   	</div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.ownerPhone)}">
                            <label class="col-md-3 control-label" for="ownerPhone">Owner Phone:*</label>
                            <div class="col-md-5">
                                <input type="text" name="ownerPhone" id="notific8_text" class="form-control" ng-model="propertyDetail.ownerPhone" required>
                                <span class="help-block" ng-show="showError(detailForm.ownerPhone, 'required')">This field is required</span>
                            </div>
                            <div ng-show="propertyDetail.ownerPhone != null">
			                   	<label>+1 pt</label>
		                   	</div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.ownerCell)}">
                            <label class="col-md-3 control-label" for="ownerCell">Owner Cell:*</label>
                            <div class="col-md-5">
                                <input type="text" name="ownerCell" id="notific8_text" class="form-control" ng-model="propertyDetail.ownerCell" required>
                                <span class="help-block" ng-show="showError(detailForm.ownerCell, 'required')">This field is required</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.ownerEmail)}">
                            <label class="col-md-3 control-label" for="ownerEmail">Owner Email:*</label>
                            <div class="col-md-5">
                                <input type="email" name="ownerEmail" id="notific8_text" class="form-control" ng-model="propertyDetail.ownerEmail" required>
                                <span class="help-block" ng-show="showError(detailForm.ownerEmail, 'required')">This field is required</span>
                            </div>
                            <div ng-show="propertyDetail.ownerEmail != null">
			                   	<label>+1 pt</label>
		                   	</div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.beds)}">
                            <label class="col-md-3 control-label" for="beds">Beds:*</label>
                            <div class="col-md-5">
                                <input type="number" name="beds" id="notific8_text" class="form-control" min="1" ng-model="propertyDetail.beds" required>
                                <span class="help-block" ng-show="showError(detailForm.beds, 'required')">Decimal Number Only</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.baths)}">
                            <label class="col-md-3 control-label" for="baths">Baths:*</label>
                            <div class="col-md-5">
                                <input type="number" name="baths" id="notific8_text" class="form-control" min="1" ng-model="propertyDetail.baths" required>
                                <span class="help-block" ng-show="showError(detailForm.baths, 'required')">This field is required</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.askingPrice)}">
                            <label class="col-md-3 control-label" for="askingPrice">Asking Price:*</label>
                            <div class="col-md-5">
                                <input type="text" name="askingPrice" id="notific8_text" class="form-control" value="" ng-model="propertyDetail.askingPrice" required>
                                <span class="help-block" ng-show="showError(detailForm.askingPrice, 'required')">This field is required</span>
                            </div>
                            <div ng-show="propertyDetail.askingPrice != null">
			                   	<label>+1 pt</label>
		                   	</div>
                        </div>
                        <div class="form-group">
                       	 	<label class="col-md-3 control-label" for="askingPrice"></label>
                            <div class="col-md-5">
                            	<div ng-show="propertyDetail.askingPrice != null">
                                	<label>Does this fit our cash offer BUY formula:</label>
                                	<label>ARV X 65% - repairs = Good Deal?</label>
                                	<div class="input-group">
	                               		<input type="radio" ng-model="propertyDetail.propertyPrice" name="selectPrice" value="Yes" required>&nbsp;&nbsp;Yes
	                               		<input type="radio" ng-model="propertyDetail.propertyPrice" name=selectPrice value="No" style="margin-left: 5px" required>&nbsp;&nbsp;No
	                               		<div id="propertyPrice" ng-show="propertyDetail.propertyPrice == 'No'">
	                               			<label>"In order for us to purchase properties, they need to make investment sense."</label>
                                            <label>Would you like to override and still submit?</label>
                                            <h5>-----Reason for Override Submission-----</h5>
	                               			<input type="text" name="modifyPrice" id="notific8_text" class="form-control" ng-model="propertyDetail.modifyPrice">
	                               		</div>
	                               	</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.repairs)}">
                            <label class="col-md-3 control-label" for="repairs">Repairs Estimate:*</label>
                            <div class="col-md-5">
                                <input type="number" name="repairs" id="notific8_text" min="1" class="form-control" ng-model="propertyDetail.repairs" ng-change="calcFunc(propertyDetail.approxARV, propertyDetail.repairs, propertyDetail.offerAmountAccepted)" required>
                                <span class="help-block" ng-show="showError(detailForm.repairs, 'required')">This field is required</span>
                            </div>
                            <div ng-show="propertyDetail.repairs != null">
			                   	<label>+1 pt</label>
		                   	</div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="repairNeed">Repair Needed:*</label>
                            <div class="col-md-5">
                            	<div class="col-lg-6">
                            		<div class="input-group">
                            			<input type="checkbox" name="Roof" value="Roof" ng-model="propertyDetail.Roof">
                            			<label for="repairNeed">&nbsp;&nbsp;Roof</label>
                            		</div>
                            		<div class="input-group">
                            			<input type="checkbox" name="Kitchen" value="Kitchen" ng-model="propertyDetail.Kitchen">
                            			<label for="repairNeed">&nbsp;&nbsp;Kitchen</label>
                            		</div>
                            		<div class="input-group">
                            			<input type="checkbox" name="Bath" value="Bath" ng-model="propertyDetail.Bath">
                            			<label for="repairNeed">&nbsp;&nbsp;Bath(s)</label>
                            		</div>
                            		<div class="input-group">
                            			<input type="checkbox" name="Paint" value="Paint" ng-model="propertyDetail.Paint">
                            			<label for="repairNeed">&nbsp;&nbsp;Paint</label>
                            		</div>
                            		<div class="input-group">
                            			<input type="checkbox" name="Carpet" value="Carpet" ng-model="propertyDetail.Carpet">
                            			<label for="repairNeed">&nbsp;&nbsp;Carpet</label>
                            		</div>
                            	</div>
                            	<div class="col-lg-6">
                            		<div class="input-group">
                            			<input type="checkbox" name="Windows" value="Windows" ng-model="propertyDetail.Windows">
                            			<label for="repairNeed">&nbsp;&nbsp;Windows</label>
                            		</div>
                            		<div class="input-group">
                            			<input type="checkbox" name="Furnance" value="Furnance" ng-model="propertyDetail.Furnance">
                            			<label for="repairNeed">&nbsp;&nbsp;Furnance</label>
                            		</div>
                            		<div class="input-group">
                            			<input type="checkbox" name="Drywall" value="Drywall" ng-model="propertyDetail.Drywall">
                            			<label for="repairNeed">&nbsp;&nbsp;Drywall</label>
                            		</div>
                            		<div class="input-group">
                            			<input type="checkbox" name="Plumbing" value="Plumbing" ng-model="propertyDetail.Plumbing">
                            			<label for="repairNeed">&nbsp;&nbsp;Plumbing</label>
                            		</div>
                            		<div class="input-group">
                            			<input type="checkbox" name="Electrical" value="Electrical" ng-model="propertyDetail.Electrical">
                            			<label for="repairNeed">&nbsp;&nbsp;Electrical</label>
                            		</div>
                            	</div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.otherRepairDetail)}">
                            <label class="col-md-3 control-label" for="otherRepairDetail">Additional/Repairs & Details:*</label>
                            <div class="col-md-5">
                                <textarea type="text" name="otherRepairDetail" id="textarea" rows="15" class="form-control" ng-model="propertyDetail.otherRepairDetail" required></textarea>
                                <span class="help-block" ng-show="showError(detailForm.otherRepairDetail, 'required')">This field is required</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.occupancy)}">
                            <label class="col-md-3 control-label" for="occupancy">Occupancy:</label>
                            <div class="col-md-5">
                                <select id="notific8_life" name="occupancy" class="form-control input-medium" ng-model="propertyDetail.occupancy" required>                                                      
                                    <option value="owner occupied">Owner Occupied</option>
                                    <option value="tenant occupied">Tenant Occupied</option>
                                    <option value="vacant">Vacant</option>
                                </select>
                                <span class="help-block" ng-show="showError(detailForm.occupancy, 'required')">This field is required</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.listedOnMLS)}">
                            <label class="col-md-3 control-label" for="listedOnMLS">Is the property listed on the MLS?:*</label>
                            <div class="col-md-5">
                                <div class="input-group">
                               		<input type="radio" ng-model="propertyDetail.listedOnMLS" name="listedOnMLS" value="Yes" required>&nbsp;&nbsp;Yes
                               		<input type="radio" ng-model="propertyDetail.listedOnMLS" name=listedOnMLS value="No" style="margin-left: 5px" required>&nbsp;&nbsp;No
                               		<span class="help-block" ng-show="showError(detailForm.listedOnMLS, 'required')">This field is required</span>
                               		<div id="propertyMLS" ng-show="propertyDetail.listedOnMLS == 'Yes'">
                                        <label>*Please note, we are looking for unlisted properties only.</label>
                                        <label>Would you like to override and still submit?</label>
                                        <h5>-----Reason for Still Submitting-----</h5>
                               			<input type="text" name="listedOnMLS" id="notific8_text" class="form-control" ng-model="propertyDetail.propertyOnMLS">
                               		</div>
                               	</div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.propertyDetail)}">
                            <label class="col-md-3 control-label" for="propertyDetail">Property Details:*</label>
                            <div class="col-md-5">
                                <textarea type="text" name="propertyDetail" id="notific8_text" class="form-control" rows="15" ng-model="propertyDetail.propertyDetail" required></textarea>
                                <span class="help-block" ng-show="showError(detailForm.propertyDetail, 'required')">This field is required</span>
                            </div>
                            <div ng-show="propertyDetail.propertyDetail != null">
                            	<label>+1 pt</label>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.taxRecordLink)}">
                            <label class="col-md-3 control-label" for="taxRecordLink">Tax Record Link:*</label>
                            <div class="col-md-5">
                                <input type="text" name="taxRecordLink" id="notific8_text" class="form-control" ng-model="propertyDetail.taxRecordLink" required>
                                <span class="help-block" ng-show="showError(detailForm.taxRecordLink, 'required')">This field is required</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.zillowLink)}">                            
                            <div class="col-md-5">
                                <input type="hidden" name="zillowLink" id="notific8_text" class="form-control" ng-model="propertyDetail.zillowLink">
                                <span class="help-block" ng-show="showError(detailForm.zillowLink, 'required')">This field is required</span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.offerAmountAccepted)}">
                            <label class="col-md-3 control-label" for="offerAmountAccepted" style="padding-top: 30px">Offer Amount Accepted:*</label>
                            <div class="col-md-5">
                                <label> (Optional) - <label style="color: #f00">Have an accepted offer already?</label>  Make more money!  </label>
                                <input type="number" name="offerAmountAccepted" id="notific8_text" class="form-control" min="1" ng-model="propertyDetail.offerAmountAccepted" ng-change="calcFunc(propertyDetail.approxARV, propertyDetail.repairs, propertyDetail.offerAmountAccepted)" required>
                                <span class="help-block" ng-show="showError(detailForm.offerAmountAccepted, 'required')">This field is required</span>
                            </div>
                            <div ng-show="propertyDetail.offerAmountAccepted != null">
			                   	<label>+2 pt</label>
		                   	</div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.approxARV)}">
                            <label class="col-md-3 control-label" for="approxARV">ARV:*</label>
                            <div class="col-md-5">
                                <input type="number" name="approxARV" id="notific8_text" class="form-control" min="1" ng-model="propertyDetail.approxARV" ng-change="calcFunc(propertyDetail.approxARV, propertyDetail.repairs, propertyDetail.offerAmountAccepted)" style="margin-bottom: 10px" required>
                                <span class="help-block" ng-show="showError(detailForm.approxARV, 'required')">This field is required</span>
                                <div ng-show="calcFunc(propertyDetail.approxARV, propertyDetail.repairs, propertyDetail.offerAmountAccepted)">
                                	<label>In order for us to purchase properties, they need to make investment sense. Would you like to override and still submit?</label>
			                       	<div class="input-group">
			                       		<input type="radio" ng-model="propertyDetail.selectCalculate" name="selectCalculate" value="Yes">&nbsp;&nbsp;Yes
			                       		<input type="radio" ng-model="propertyDetail.selectCalculate" name=selectCalculate value="No" style="margin-left: 5px">&nbsp;&nbsp;No
			                       		<div id="propertyCalculate" ng-show="propertyDetail.selectCalculate == 'Yes'">
                                            <h5>-----Reason for Still Submitting-----</h5>
			                       			<input type="text" name="propertyCalculate" id="notific8_text" class="form-control" ng-model="propertyDetail.propertyCalculate">
			                       		</div>
			                       	</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="status">Total Point:</label>
                            <div class="col-md-5">
                                <label class="col-md-1 control-label">{{sumPoint()}}</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="title"></label>
                            <div class="col-md-5" align="right">
                                <button type="button" class="btn red btn-outline sbold uppercase btn-lg" id="notific8_show" ng-disabled="!canSave(detailForm)" ng-click="submit(detailForm)"> Submit </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>