<div class="row" id="admin-users-index">
	<div class="col-xs-12">
		<div>
			<form class="form-inline pull-right" name="addUserForm">
                <div class="input-group">
                    <input name="newvideourl" type="text" placeholder="Enter Closing Stats Feature Title" class="form-control" style="width: 250px !important;" ng-model="closingStatsTitle.title">
                    <button type="button" class="btn btn-primary" style="margin-left: 20px;" ng-click="updateTitle()">Update</button>
                </div>
                <div class="input-group">
                    <input name="newdescription" type="text" placeholder="Enter User Name" class="form-control" style="margin-left: 40px;" ng-model="newClosingStatsUsername.usernameforclosing">
                    <button type="button" class="btn btn-primary"  style="margin-left: 20px" ng-click="addNewClosingStats()">Add New</button>
                </div>
            </form>
            <h2 style="font-weight: 600">Closing Stat</h2>
		</div>
		<table class="table table-striped table-bordered table-hover table-checkable">
            <thead>
                <tr role="row" class="heading">
                    <th width="10%"> Avatar </th>
                    <th width="17%"> Username </th>
                    <th width="55%"> Explanation </th>
                    <th width="*"> Action </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="closingStat in closingStats">
                    <td><img alt="" ng-src="closingStat.photoURL" width="80" height="80"></td>
                    <td>{{ closingStat.usernameforclosing }}</td>
                    <td>{{ closingStat.explanation }}</td>
                    <td>
                    	<a class="btn btn-default btn-sm" ng-href="/admin/closing/{{closingStat._id}}">Edit</a>
                        <button type="button" class="btn btn-danger" ng-click="deleteClosingStats(closingStat._id)">Delete</button>           
                    </td>
                </tr>
                <tr ng-show="closingStats.length === 0">
                    <td colspan="5">no documents matched</td>
                </tr>
            </tbody>
        </table>
	</div>
</div>