<div class="row" id="admin-users-index">
	<div class="col-xs-12">
		<div>			
            <h2 style="font-weight: 600">Announcement</h2>
		</div>
		<form class="form-inline pull-right">
            <div class="input-group">
                <textarea type="text" placeholder="Enter Announcement" class="form-control" style="width: 250px !important;" ng-model="announcement.description"></textarea>
                <button type="button" class="btn btn-primary" style="margin-left: 20px;" ng-click="updateAnnouncement()">Update</button>
        </form>
	</div>
</div>