<style>
	.portlet-body {
		padding: 10px 20px 20px;
	}
</style>
<div class="row" id="admin">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;" ng-repeat="(key, data) in statusTypes">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ data }} </div>
                    <div class="desc"> {{key}} </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ user.activelyWorking }} </div>
                    <div class="desc"> In Progress </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ user.offerAccepted }} </div>
                    <div class="desc" style="padding-left: 5px;"> Offers Accepted </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ user.offerRejected }} </div>
                    <div class="desc" style="padding-left: 5px;"> Offers Rejected </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ user.ucSeller }} </div>
                    <div class="desc"> UC Seller </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;">
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ user.ucBuyer }} </div>
                    <div class="desc"> UC Buyer </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ user.closed }} </div>
                    <div class="desc"> Closed </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ user.deadLeads }} </div>
                    <div class="desc"> Dead Leads </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
<div class="col-md-6">
	<div class="portlet-body">
		<div id="sparkline_bar" style="height: 500px; margin-top: 70px;">
			<img alt="" src="/assets/global/img/social/chat.png" width="500" height="500">
		</div>
	</div>
</div>
<div class="col-md-6">
	<div align="right">
		<div class="input-group">
			<button type="button" class="btn btn-primary" ng-click="clickChange()" style="margin-right: 20px">{{btnText}}</button>
			<a class="btn btn-primary" style="margin-right: 18px" ng-href="/admin/closing">Closing Stats Edit</a>
            <a class="btn btn-primary" style="margin-right: 18px" ng-href="/admin/announcement">Announcement Edit</a>            
		</div>
	</div>
	<div style="margin-top: 30px;">
		<h4 style="font-weight: 400">Recently Added Properties</h4>
	</div>
    <div  style="height: 480px; overflow: auto;">
    	<table class="table table-striped table-bordered table-hover table-checkable">
    		<colgroup>
    			<col width="20%">
    			<col width="40%">
    			<col width="*">
    		</colgroup>
    		<tbody ng-repeat="recentlyProperty in recentlyProperties">
    			<tr>
    				<td><img alt="" ng-src="{{ recentlyProperty.photoURL[0] }}" width="80" height="80" style="border-radius: 50%"></td>
    				<td>{{ recentlyProperty.propertyAddress }}</td>
    				<td>Submitted By {{ recentlyProperty.user.name }}</td>
    			</tr>
    		</tbody>
    	</table>
    </div>
</div>
