<div class="row">
    <div class="col-xs-12">
        <div class="page-header"><h1>Profile Settings</h1></div>
    </div>
</div>
                 
<div class="page-content-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light memberupdate">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green-sharp sbold">Input or Edit Video URL</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <form class="form-horizontal" name="detailForm">
                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.propertyType)}">
                            <label class="col-md-3 control-label" for="propertyType">Welcome Page Video URL: </label>
                            <div class="col-md-5">
                                <input type="text" name="propertyAddress" id="notific8_text" class="form-control" ng-model="videoURL.welcomePageURL" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="title"></label>
                            <div class="col-md-5" align="right">
                                <button type="button" class="btn red btn-outline sbold uppercase btn-lg" id="notific8_show" ng-click="submitVideoForm()"> Update </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="admin-users-index">
    <div class="col-xs-12">
        <div>
            <form class="form-inline pull-right" name="addUserForm">
                <div class="input-group">
                    <input name="newvideourl" type="text" placeholder="Enter VideoURL" class="form-control" ng-model="newVideo.videoURL" required>
                </div>
                <div class="input-group">
                    <input name="newdescription" type="text" placeholder="Enter Title" class="form-control" ng-model="newVideo.videoTitle" required>
                    <button type="button" class="btn btn-primary"  ng-click="addVideo()">Add New</button>
                </div>
            </form>
            <h2>Instruction Videos</h2>
        </div>

        <table class="table table-striped table-bordered table-hover table-checkable">
            <thead>
                <tr role="row" class="heading">
                    <th width="40%"> Video URL </th>
                    <th width="5%"> Title </th>
                    <th width="40%"> Description </th>                    
                    <th width="15%"> Action </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="instructionVideo in instructionVideos">
                                      
                    <td ng-bind="instructionVideo.videoURL"></td>
                    <td ng-bind="instructionVideo.videoTitle"></td>
                    <td ng-bind="instructionVideo.videoDescription"></td>
                                    
                    <td><a class="btn btn-default btn-sm" ng-href="/admin/trainingmaterial/{{instructionVideo._id}}">Edit</a>
                        <button type="button" class="btn btn-danger" ng-click="deleteVideo(instructionVideo._id)">Delete</button>           
                    </td>

                </tr>
                <tr ng-show="instructionVideo.length === 0">
                    <td colspan="5">no documents matched</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row" id="admin-users-index">
    <div class="col-xs-12">
        <div>
            <form class="form-inline pull-right" name="addUserForm">
                <div class="input-group">
                    <input name="newvideourl" type="text" placeholder="Enter VideoURL" class="form-control" ng-model="newAdvVideo.videoURL" required>
                </div>
                <div class="input-group">
                    <input name="newdescription" type="text" placeholder="Enter Title" class="form-control" ng-model="newAdvVideo.videoTitle" required>
                    <button type="button" class="btn btn-primary"  ng-click="addAdvVideo()">Add New</button>
                </div>
            </form>
            <h2>Advanced Instruction Videos</h2>
        </div>

        <table class="table table-striped table-bordered table-hover table-checkable">
            <thead>
                <tr role="row" class="heading">
                    <th width="40%"> Video URL </th>
                    <th width="5%"> Title </th>
                    <th width="40%"> Description </th>                    
                    <th width="15%"> Action </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="advInstructionVideo in advInstructionVideos">
                                      
                    <td ng-bind="advInstructionVideo.videoURL"></td>
                    <td ng-bind="advInstructionVideo.videoTitle"></td>
                    <td ng-bind="advInstructionVideo.videoDescription"></td>
                                    
                    <td><a class="btn btn-default btn-sm" ng-href="/admin/advtrainingmaterial/{{advInstructionVideo._id}}">Edit</a>
                        <button type="button" class="btn btn-danger" ng-click="deleteAdvVideo(advInstructionVideo._id)">Delete</button>           
                    </td>
                </tr>
                <tr ng-show="advInstructionVideo.length === 0">
                    <td colspan="5">no documents matched</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>