<div class="row">
    <div class="col-xs-12">
        <div class="page-header"><h1>Instruction Video Edit</h1></div>
    </div>
</div>
<div class="form-group">    
    <a class="control-label"href="/admin/trainingmaterial" class="navbar-brand" style="width: 240px;">
        <img src="/img/back.png" class="navbar-logo" style="width: 30px; height: 30px">
        <span class="navbar-brand-label" style="margin-left: 10px;">Back</span>
    </a>    
</div> 
<div class="page-content-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light memberupdate">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green-sharp sbold">Edit Instruction Video</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <form name="editStatusForm" class="form-horizontal">
                        <alert ng-repeat="alert in alerts.detail" type="{{alert.type}}" close="closeAlert('detail', $index)">{{alert.msg}}</alert>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="statusName">Video URL:</label>
                            <div class="col-md-5">
                                <input type="text" name="statusName" id="notific8_text" class="form-control" ng-model="instructionVideoDetail.videoURL">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="statusTitle">Title:</label>
                            <div class="col-md-5">
                                <input type="text" name="statusTitle" id="notific8_text" class="form-control" ng-model="instructionVideoDetail.videoTitle">
                            </div>
                        </div>                             
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="statusDetail">Description:</label>
                            <div class="col-md-5">
                                <textarea type="text" name="statusDetail" id="notific8_text" class="form-control" ng-model="instructionVideoDetail.videoDescription"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="title"></label>
                            <div class="col-md-5">
                                <button type="button" class="btn red btn-outline sbold uppercase btn-lg" id="notific8_show"  ng-click="submitDetailForm()"> Update </button>
                            </div>
                        </div>                                                                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>      