<div class="row" id="account">
	<div class="col-sm-12">
        <!-- <button class="btn btn-success" ng-click="show()">Append</button> -->
        <h1> Welcome to the NJ(New Jersey) Bird Dogs! </h1>
    </div>
</div>
<div class="col-md-8">
	<div class="portlet light ">
		<div class="portlet-body">
	        <div class="note note-success">
	            <h3 class="block">Announcment</h3>
	            <p> Duis mollis, est non commodo luctus, nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. </p>
	        </div>
	        <div class="note note-info">
	            <h4 class="block">Daily Quote</h4>
	            <p> {{quotes.quoteText}} </p>
	            <h5 class="block" align="right">{{quotes.authorBy}}</h5>
	        </div>
	    </div>
	</div>
</div>
<div class="col-md-4" align="center">
	<h4 style="margin-top: 18px; font-weight: 600">{{ closingStatsTitle.title }}</h4>
	<table class="table table-striped table-bordered table-hover table-checkable">
		<colgroup>
			<col width="20%">
			<col width="30%">
			<col width="*">
		</colgroup>
		<tbody ng-repeat="closingStat in closingStats">
			<tr bordercolor="write">
				<td style="border: none;"><img alt="" ng-src="closingStat.photoURL" width="40" height="40" style="border-radius: 50%"></td>
				<td style="border: none;">{{ closingStat.usernameforclosing }}</td>
				<td style="border: none;">{{ closingStat.explanation }}</td>
			</tr>
		</tbody>
	</table>
</div>