<style>
	.profile-userpic img {
		float: none;
		margin: 0 auto;
		width: 50%;
		height: 50%;
		border-radius: 50% !important;
	}
	.profile-sidebar {
		float: left;
		width: 260px;
		margin-right: 20px;
		margin-top: 50px;
		margin-bottom: 40px;
	}
	.profile-usertitle {
		text-align: center;
		margin-top: 20px;
	}
	.profile-usertitle-name {
		color: #5a7391;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 7px;
	}
	.portlet.light {
		padding: 12px 20px 15px;
		background-color: #fff;
		margin-top: 50px;
	}
</style>
<div class="row" id="admin-users-detail">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ status.new }} </div>
                    <div class="desc"> New </div>
                </div>
                <!-- <a class="more" href="#"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a> -->
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ status.activelyWorking }} </div>
                    <div class="desc"> In Progress </div>
                </div>
                <!-- <a class="more" href="#"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a> -->
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ status.offerAccepted }} </div>
                    <div class="desc" style="padding-left: 5px;"> Offers Accepted </div>
                </div>
                <!-- <a class="more" href="#"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a> -->
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ status.offerRejected }} </div>
                    <div class="desc" style="padding-left: 5px;"> Offers Rejected </div>
                </div>
                <!-- <a class="more" href="#"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a> -->
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ status.ucSeller }} </div>
                    <div class="desc"> UC Seller </div>
                </div>
                <!-- <a class="more" href="#"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a> -->
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;">
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ status.ucBuyer }} </div>
                    <div class="desc"> UC Buyer </div>
                </div>
                <!-- <a class="more" href="#"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a> -->
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ status.closed }} </div>
                    <div class="desc"> Closed </div>
                </div>
                <!-- <a class="more" href="#"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a> -->
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ status.deadLeads }} </div>
                    <div class="desc"> Dead Leads </div>
                </div>
                <!-- <a class="more" href="#"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a> -->
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="profile-sidebar">
        	<div class="profile-userpic">
        		<img class="img-responsive" alt="" ng-src="{{ user.photoURL }}">
        	</div>
        	<div class="profile-usertitle">
        		<div class="profile-usertitle-name">{{ user.roles.account.name.full }}</div>
        	</div>
        </div>
        <div class="col-md-6">
        	<div class="portlet light">
        		<table style="border: 0 !important; width: 100%; margin: 0; background-color: #fff; padding: 7px">
        			<colgroup>
						<col width="50%">
						<col width="*">
					</colgroup>
        			<thead>
        				<tr>
        					<th></th>
        					<th></th>
        				</tr>
        			</thead>
        			<tbody style="padding: 7px">
        				<tr style="padding: 7px">
        					<td style="padding: 7px"> Username:</td>
        					<td style="padding: 7px">{{ user.username }}</td>
        				</tr>
        				<tr style="padding: 7px">
        					<td style="padding: 7px">Email:</td>
        					<td style="padding: 7px">{{ user.email }}</td>
        				</tr>
        				<tr style="padding: 7px">
        					<td style="padding: 7px">Phone:</td>
        					<td style="padding: 7px">{{ user.phone }}</td>
        				</tr>
        				<tr style="padding: 7px">
        					<td style="padding: 7px">Social Profile Links:</td>
        					<td style="padding: 7px">&nbsp</td>
        				</tr>
        			</tbody>
        		</table>
        	</div>
        </div>
        <form name="orderDetailsForm">
       		<legend>Other Details</legend>
       		<div class="portlet-body">
				<table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
					<thead>
                    	<tr>                        	
                            <th> Member Rank And Badge</th>                            
                            <th> Joined Date </th>
                            <th> Probation Strikes </th>                                            
                         </tr>
                    </thead>
                    <tbody>
                    	<tr class="odd gradeX">                    		                            
                            <td> {{ user.badge }} </td>
                            <td style="text-align: center"> {{ user.timeCreated }} </td>
                            <td style="text-align: center"> {{ user.probationStrike }} </td>
                    	</tr>
                    </tbody>
				</table>
       		</div>
        </form>
        <form name="identityForm">
        	<fieldset>
	            <legend>Identity</legend>
	            <alert ng-repeat="alert in identityAlerts" type="{{alert.type}}" close="closeIdentityAlert($index)">{{alert.msg}}</alert>
	            <div class="form-group" ng-class="{'has-error': hasError(identityForm.isActive)}">
	                <label class="control-label" for="isActive">Is Active:</label>
	                <select name="isActive" id="isActive" class="form-control" ng-model="user.isActive" ng-options="active for active in isActives" server-error></select>
	                <span class="help-block" ng-show="showError(identityForm.isActive, 'server')">{{errfor.isActive}}</span>
	            </div>
	            <div class="form-group" ng-class="{'has-error': hasError(identityForm.username)}">
	                <label class="control-label" for="username">Username:</label>
	                <input type="text" name="username" id="username" class="form-control" ng-model="user.username" required server-error>
	                <span class="help-block" ng-show="showError(identityForm.username, 'required')">This field is required</span>
	                <span class="help-block" ng-show="showError(identityForm.username, 'server')">{{errfor.username}}</span>
	            </div>
	            <div class="form-group" ng-class="{'has-error': hasError(identityForm.email)}">
	                <label class="control-label" for="email">Email:</label>
	                <input type="email" name="email" id="email" class="form-control" ng-model="user.email" required server-error>
	                <span class="help-block" ng-show="showError(identityForm.email, 'required')">This field is required</span>
	                <span class="help-block" ng-show="showError(identityForm.email, 'email')">Please enter a valid email</span>
	                <span class="help-block" ng-show="showError(identityForm.email, 'server')">{{errfor.email}}</span>
	            </div>
	            <div class="form-group">
	                <button type="button" class="btn btn-primary" ng-disabled="!canSave(identityForm)" ng-click="updateIdentity()">Update</button>
	            </div>
        	</fieldset>
        </form>
        <form name="roleForm"><fieldset>
            <legend>Roles</legend>
            <alert ng-repeat="alert in roleAlerts" type="{{alert.type}}" close="closeRoleAlert($index)">{{alert.msg}}</alert>
            <div class="form-group" ng-class="{'has-error': roleForm.newAdminId && hasError(roleForm.newAdminId)}">
                <label class="control-label">Admin:</label>
                <!-- show this div if there is an admin linked to this user -->
                <div class="input-group" ng-show="user.roles && user.roles.admin">
                    <input type="text" name="adminId" class="form-control" ng-model="user.roles.admin.name.full" disabled>
                    <div class="input-group-btn" >
                        <button type="button" class="btn btn-warning" ng-click="unlinkAdmin()">Unlink</button>
                        <a type="button" class="btn btn-default" ng-href="/admin/administrators/{{user.roles.admin._id}}">Open</a>
                    </div>
                </div>
                <!-- show this div if there isn't an admin linked to this user -->
                <div class="input-group" ng-if="!(user.roles && user.roles.admin)">
                    <input type="text" name="newAdminId" placeholder="enter admin id" class="form-control" ng-model="role.newAdminId" required>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success" ng-disabled="!(roleForm.newAdminId.$dirty && roleForm.newAdminId.$valid)" ng-click="linkAdmin()">Link</button>
                    </div>
                </div>
                <span class="help-block" ng-if="!(user.roles && user.roles.admin)" ng-show="showError(roleForm.newAdminId, 'required')">This field is required</span>
            </div>
            <div class="form-group" ng-class="{'has-error': roleForm.newAccountId && hasError(roleForm.newAccountId)}">
                <label class="control-label">Account:</label>
                <!-- show this div if there is an account linked to this user -->
                <div class="input-group" ng-show="user.roles && user.roles.account">
                    <input type="text" name="accountId" class="form-control" ng-model="user.roles.account.name.full" disabled>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-warning" ng-click="unlinkAccount()">Unlink</button>
                        <a type="button" class="btn btn-default" ng-href="/admin/accounts/{{user.roles.account._id}}">Open</a>
                    </div>
                    </div>
                <!-- show this div if there isn't an account linked to this user -->
                <div class="input-group" ng-if="!(user.roles && user.roles.account)">
                    <input type="text" name="newAccountId" placeholder="enter account id" class="form-control" ng-model="role.newAccountId" required>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success" ng-disabled="!(roleForm.newAccountId.$dirty && roleForm.newAccountId.$valid)" ng-click="linkAccount()">Link</button>
                    </div>
                </div>
                <span class="help-block" ng-if="!(user.roles && user.roles.account)" ng-show="showError(roleForm.newAccountId, 'required')">This field is required</span>
            </div>
        </fieldset></form>
        <form name="passwordForm"><fieldset>
            <legend>Set Password</legend>
            <alert ng-repeat="alert in passwordAlerts" type="{{alert.type}}" close="closePasswordAlert($index)">{{alert.msg}}</alert>
            <div class="form-group" ng-class="{'has-error': hasError(passwordForm.password)}">
                <label class="control-label" for="password">New Password:</label>
                <input type="password" name="password" id="password" class="form-control" ng-model="pass.newPassword" required>
                <span class="help-block" ng-show="showError(passwordForm.password, 'required')">This field is required</span>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(passwordForm.confirm)}">
                <label class="control-label" for="confirm">Confirm Password:</label>
                <input type="password" name="confirm" id="confirm" class="form-control" ng-model="pass.confirm" required>
                <span class="help-block" ng-show="showError(passwordForm.confirm, 'required')">This field is required</span>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" ng-disabled="!canSave(passwordForm)" ng-click="setPassword()">Set Password</button>
            </div>
        </fieldset></form>
        <form name="deleteForm">
        	<fieldset>
            	<legend>Danger Zone</legend>
            	<alert ng-repeat="alert in deleteAlerts" type="{{alert.type}}" close="closeDeleteAlert($index)">{{alert.msg}}</alert>
            	<div class="profile-userbuttons">
                    <ul class="nav">
                        <li style="float: left; width: 33%;">
                            <button type="button" class="btn btn-circle green-haze btn-sm">Put On Probation</button>        
                        </li>
                        <li style="float: left; width: 33%;">
                            <button type="button" class="btn btn-circle green-haze btn-sm">Kick Out of Program</button>        
                        </li>
                        <li style="float: left; width: 33%;">
                            <button type="button" class="btn btn-circle btn-danger btn-sm" ng-click="deleteUser()">Delete User</button>        
                        </li>    
                    </ul>
                </div>       
        	</fieldset>
        </form>
    </div>
    <div class="col-md-12" style="margin-top: 20px">
        <div id="propertyList">
        	<legend>Property List</legend>
        	<div class="portlet-body">
				<table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
					<thead>
                    	<tr>                        
                            <th> Thumbnail </th>
                            <th> Address </th>
                            <th> City </th>
                            <th> Status </th>
                            <th> Submitted On </th>                                            
                            <th> Action </th>                                            
                         </tr>
                    </thead>
                    <tbody>
                    	<tr class="odd gradeX" ng-repeat="property in properties">                    		
                            <td> <img ng-src="{{ property.photoURL}}" height="80" width="80"> </td>
                            <td ng-bind="property.propertyAddress"></td>
                            <td ng-bind="property.propertyCity"></td>
                            <td ng-bind="property.status"></td>
                            <td style="text-align: center"  ng-bind="property.submittedOn"></td>
                            <td>                               	
                                <a class="btn btn-default btn-sm" ng-href="/admin/properties/{{property._id}}"> Edit </a>                              
                               	<button type="button" class="btn btn-danger" ng-click="deleteProperty(property._id)">Delete</button>
                           	</td>
                    	</tr>
                    </tbody>
				</table>
       		</div>
        </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>

