<style type="text/css">
	.file-drop-zone-over {
		border: 2px dashed #aaa;
		padding: 30px;
		text-align: center;
	}
	.remove {
		float: right;
		color: green;
	}
	.remove:hover {
		color: red;
		cursor: pointer;
		font-size: 16px;
	}
</style>

<div class="row">
    <div class="col-xs-12">
        <div class="page-header"><h1>Profile Settings</h1></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3" ng-if="social">
        <legend>Social Connections</legend>
        <alert ng-repeat="alert in socialAlerts" type="{{alert.type}}" close="closeSocialAlert($index)">{{alert.msg}}</alert>
        <a ng-repeat-start="(provider, property) in social" ng-if="property.connected" ng-click="disconnect(provider)" class="btn btn-block btn-danger"><i ng-class="'fa ' + property.icon + ' fa-lg'"></i> Disconnect {{property.text}}</a>
        <a ng-repeat-end target="_self" href="{{property.connect}}" ng-if="!property.connected" class="btn btn-block btn-default"><i ng-class="'fa ' + property.icon + ' fa-lg'"></i> Connect {{property.text}}</a>
    </div>
</div>
<div class="row">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ stats.new }} </div>
                    <div class="desc"> New </div>
                </div>
                <!-- <a class="more" href="#"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a> -->
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ stats.activelyWorking }} </div>
                    <div class="desc"> In Progress </div>
                </div>
                <!-- <a class="more" href="#"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a> -->
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ stats.offerAccepted }} </div>
                    <div class="desc" style="padding-left: 5px;"> Offers Accepted </div>
                </div>
                <!-- <a class="more" href="#"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a> -->
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;">
            <div class="dashboard-stat green">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ stats.offerRejected }} </div>
                    <div class="desc" style="padding-left: 5px;"> Offers Rejected </div>
                </div>
                <!-- <a class="more" href="#"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a> -->
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ stats.ucSeller }} </div>
                    <div class="desc"> UC Seller </div>
                </div>
                <!-- <a class="more" href="#"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a> -->
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;">
            <div class="dashboard-stat blue">
                <div class="visual">
                    <i class="fa fa-comments"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ stats.ucBuyer }} </div>
                    <div class="desc"> UC Buyer </div>
                </div>
                <!-- <a class="more" href="#"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a> -->
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;">
            <div class="dashboard-stat red">
                <div class="visual">
                    <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ stats.closed }} </div>
                    <div class="desc"> Closed </div>
                </div>
                <!-- <a class="more" href="#"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a> -->
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="width: 12%;">
            <div class="dashboard-stat purple">
                <div class="visual">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="details">
                    <div class="number" style="padding-top: 10px;"> {{ stats.deadLeads }} </div>
                    <div class="desc"> Dead Leads </div>
                </div>
                <!-- <a class="more" href="#"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a> -->
            </div>
        </div>
    </div>
</div>
<div class="page-content-inner">
    <div class="row">
    <div class="col-md-6">
        <div class="portlet light memberupdate">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green-sharp sbold">Set Your Avatar</span>
                </div>
            </div>
            <div class="portlet-body">
                <form name="photoForm" class="form-horizontal">
                    <div class="form-group">
                        <div class="file-drop-zone margin-bottom-20" file-dragzone="[image/png, image/jpeg, image/gif]" files-to-upload="files" style="margin-bottom: 10px">
                        	<span>Drop Image Here</span>
                        </div>
                       	<div class="col-md-5" align="center">
                       		<input class="file-browser" type="file" name="propertyImage" file-update="file.upload" files-to-upload="files" style="margin-bottom: 8px">
                            <img src="{{files[0].preview || user.photoURL }}" width="200" height="200">
                            <span class="file-name">{{files[0].name}}</span>
                        </div>  
                    </div>                        
                    <div class="form-group">
                        <div class="col-md-5" align="left">
                            <button type="button" class="btn red btn-outline sbold uppercase btn-lg" id="notific8_show" ng-click="submit(photoForm)"> Set Photo </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
        <div class="col-md-6">
            <div class="portlet light memberupdate">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green-sharp sbold">Set Password</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <form name="passwordForm" class="form-horizontal">
                        <alert ng-repeat="alert in alerts.pass" type="{{alert.type}}" close="closeAlert('pass', $index)">{{alert.msg}}</alert>
                        <div class="form-group" ng-class="{'has-error': hasError(passwordForm.newPassword)}">
                            <label class="col-md-3 control-label" for="newPassword">New Password:</label>
                            <div class="col-md-5">
                                <input type="text" name="newPassword" id="notific8_text" class="form-control" ng-model="pass.newPassword" required>
                                <span class="help-block" ng-show="showError(passwordForm.newPassword, 'required')">This field is required</span>
                            </div>                            
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(passwordForm.confirm)}">
                            <label class="col-md-3 control-label" for="confirm">Confirm Password:</label>
                            <div class="col-md-5">
                                <input type="text" name="confirm" id="notific8_text" class="form-control" ng-model="pass.confirm" required>
                                <span class="help-block" ng-show="showError(passwordForm.confirm, 'required')">This field is required</span>
                            </div>                            
                        </div>                                                                       
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="setPassword"></label>
                            <div class="col-md-5">
                                <button type="button" class="btn red btn-outline sbold uppercase btn-lg" id="notific8_show" ng-disabled="!canSave(passwordForm)" ng-click="submit(passwordForm)"> Set Password </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="portlet light memberupdate">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green-sharp sbold">Name Information</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <form class="form-horizontal" name="detailForm">
                        <alert ng-repeat="alert in alerts.detail" type="{{alert.type}}" close="closeAlert('detail', $index)">{{alert.msg}}</alert>
                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.first)}">
                            <label class="col-md-3 control-label" for="first">First Name:*</label>
                            <div class="col-md-5">
                                <input type="text" name="first" id="notific8_text" class="form-control" ng-model="userDetail.first" required>
                                <span class="help-block" ng-show="showError(detailForm.first, 'required')">This field is required</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(detailForm.last)}">
                            <label class="col-md-3 control-label" for="last">Last Name:*</label>
                            <div class="col-md-5">
                                <input type="text" name="last" id="notific8_text" class="form-control" ng-model="userDetail.last" required>
                                <span class="help-block" ng-show="showError(detailForm.last, 'required')">This field is required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="title"></label>
                            <div class="col-md-5">
                                <button type="button" class="btn red btn-outline sbold uppercase btn-lg" id="notific8_show" ng-disabled="!canSave(detailForm)" ng-click="submit(detailForm)"> Update </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 


<div class="page-content-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light memberupdate">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green-sharp sbold">Identity</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <form name="identityForm" class="form-horizontal">
                        <alert ng-repeat="alert in alerts.identity" type="{{alert.type}}" close="closeAlert('identity', $index)">{{alert.msg}}</alert>
                        <div class="form-group" ng-class="{'has-error': hasError(identityForm.username)}">
                            <label class="col-md-3 control-label" for="username">Username:</label>
                            <div class="col-md-5">
                                <input type="text" name="username" id="notific8_text" class="form-control" ng-model="user.username" required server-error>
                                <span class="help-block" ng-show="showError(identityForm.username, 'required')">This field is required</span>
                                <span class="help-block" ng-show="showError(identityForm.username, 'server')">{{errfor.username}}</span>
                            </div>                            
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(identityForm.email)}">
                            <label class="col-md-3 control-label" for="email">Email:</label>
                            <div class="col-md-5">
                                <input type="text" name="email" id="notific8_text" class="form-control" ng-model="user.email" required server-error>
                                <span class="help-block" ng-show="showError(identityForm.email, 'required')">This field is required</span>
                                <span class="help-block" ng-show="showError(identityForm.email, 'email')">Please enter a valid email</span>
                                <span class="help-block" ng-show="showError(identityForm.email, 'server')">{{errfor.email}}</span>
                            </div>                            
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(identityForm.firstName)}">
                            <label class="col-md-3 control-label" for="firstName">FirstName</label>
                            <div class="col-md-5">
                                <input type="text" name="firstName" id="notific8_text" class="form-control" ng-model="user.firstName" required server-error>
                                <span class="help-block" ng-show="showError(identityForm.firstName, 'required')">This field is required</span>
                                <span class="help-block" ng-show="showError(identityForm.firstName, 'firstName')">Please enter a valid firstName</span>
                                <span class="help-block" ng-show="showError(identityForm.firstName, 'server')">{{errfor.firstName}}</span>
                            </div>                            
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(identityForm.lastName)}">
                            <label class="col-md-3 control-label" for="firstName">LastName:</label>
                            <div class="col-md-5">
                                <input type="text" name="lastName" id="notific8_text" class="form-control" ng-model="user.lastName" required server-error>
                                <span class="help-block" ng-show="showError(identityForm.lastName, 'required')">This field is required</span>
                                <span class="help-block" ng-show="showError(identityForm.lastName, 'lastName')">Please enter a valid lastName</span>
                                <span class="help-block" ng-show="showError(identityForm.lastName, 'server')">{{errfor.lastName}}</span>
                            </div>                            
                        </div>                        
                        <div class="form-group" ng-class="{'has-error': hasError(identityForm.autocomplete)}">
			                <label class="col-md-3 control-label" for="autocomplete">AutoAddress:*</label>
			                <div class="col-md-5">
			                    <input type="text" name="autocomplete" id="notific8_text" class="form-control" gm-places-autocomplete ng-model="autocomplete">
			                    <span class="help-block" ng-show="showError(identityForm.autocomplete, 'required')">This field is required</span>
			                </div>
			            </div>
			            <div class="form-group" ng-class="{'has-error': hasError(identityForm.Address)}">
                            <label class="col-md-3 control-label" for="Address">Address:*</label>
                            <div class="col-md-5">
                                <input type="text" name="Address" id="notific8_text" class="form-control" ng-model="user.address" required>
                                <span class="help-block" ng-show="showError(identityForm.Address, 'required')">This field is required</span>
                            </div>
                        </div> 
                        <div class="form-group" ng-class="{'has-error': hasError(identityForm.City)}">
                            <label class="col-md-3 control-label" for="City">City:*</label>
                            <div class="col-md-5">
                                <input type="text" name="City" id="notific8_text" class="form-control" ng-model="user.city" required>
                                <span class="help-block" ng-show="showError(identityForm.City, 'required')">This field is required</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(identityForm.State)}">
                            <label class="col-md-3 control-label" for="State">State:*</label>
                            <div class="col-md-5">
                                <select id="notific8_life" name="State" class="form-control input-medium" ng-model="user.state" required>
                                    <option value="AL">AL</option>
                                    <option value="AK">AK</option>
                                    <option value="AZ">AZ</option>
                                    <option value="AR">AR</option>
                                    <option value="CA">CA</option>
                                    <option value="CO">CO</option>
                                    <option value="CT">CT</option>
                                    <option value="DE">DE</option>
                                    <option value="FL">FL</option>
                                    <option value="GA">GA</option>
                                    <option value="HI">HI</option>
                                    <option value="ID">ID</option>
                                    <option value="IL">IL</option>
                                    <option value="IN">IN</option>
                                    <option value="IA">IA</option>
                                    <option value="KS">KS</option>
                                    <option value="KY">KY</option>
                                    <option value="LA">LA</option>
                                    <option value="ME">ME</option>
                                    <option value="MD">MD</option>
                                    <option value="MA">MA</option>
                                    <option value="MI">MI</option>
                                    <option value="MN">MN</option>
                                    <option value="MS">MS</option>
                                    <option value="MO">MO</option>
                                    <option value="MT">MT</option>
                                    <option value="NE">NE</option>
                                    <option value="NV">NV</option>
                                    <option value="NH">NH</option>
                                    <option value="NJ" selected="selected">NJ</option>
                                    <option value="NM">NM</option>
                                    <option value="NY">NY</option>
                                    <option value="NC">NC</option>
                                    <option value="ND">ND</option>
                                    <option value="OH">OH</option>
                                    <option value="OK">OK</option>
                                    <option value="OR">OR</option>
                                    <option value="PA">PA</option>
                                    <option value="RI">RI</option>
                                    <option value="SC">SC</option>
                                    <option value="SD">SD</option>
                                    <option value="TN">TN</option>
                                    <option value="TX">TX</option>
                                    <option value="UT">UT</option>
                                    <option value="VT">VT</option>
                                    <option value="VA">VA</option>
                                    <option value="WA">WA</option>
                                    <option value="WV">WV</option>
                                    <option value="WI">WI</option>
                                    <option value="WY">WY</option>
                                </select>
                                <span class="help-block" ng-show="showError(identityForm.State, 'required')">This field is required</span>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(identityForm.Zip)}">
                            <label class="col-md-3 control-label" for="Zip">Zip:*</label>
                            <div class="col-md-5">
                                <input type="text" name="Zip" id="notific8_text" class="form-control" ng-model="user.zip" required pattern="[0-9].{2,4}" required title="3 to 5 Digits Only">
                                <span class="help-block" ng-show="showError(identityForm.Zip, 'required')">5 Digit Only</span>
                            </div>
                        </div>   
                        <div class="form-group" ng-class="{'has-error': hasError(identityForm.phone)}">
                            <label class="col-md-3 control-label" for="phone">Phone:*</label>
                            <div class="col-md-5">
                                <input type="text" name="phone" id="notific8_text" class="form-control" ng-model="user.phone" required>
                                <span class="help-block" ng-show="showError(identityForm.phone, 'required')">This field is required</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="markets">Your Markets:</label>
                        </div>
                        <div class="form-group">
                            <div class="mt-checkbox-list">
                                <label class="col-md-3 control-label"> Atlantic
                                    <input type="checkbox" name="test" ng-model="user.atlantic">
                                    <span></span>
                                </label>
                                <label class="col-md-3 control-label"> Hunterdon
                                    <input type="checkbox" value="0" name="test" ng-model="user.hunterdon">
                                    <span></span>
                                </label>
                                <label class="col-md-3 control-label"> Sussex
                                    <input type="checkbox" value="1" name="test" ng-model="user.sussex">
                                    <span></span>
                                </label>
                            </div><br>
                            <div class="mt-checkbox-list">
                                <label class="col-md-3 control-label"> Gloucester
                                    <input type="checkbox" value="1" name="test" ng-model="user.gloucester">
                                    <span></span>
                                </label>
                                <label class="col-md-3 control-label"> Salem
                                    <input type="checkbox" value="1" name="test" ng-model="user.salem">
                                    <span></span>
                                </label>
                                <label class="col-md-3 control-label"> Cumberland
                                    <input type="checkbox" value="1" name="test" ng-model="user.cumberland">
                                    <span></span>
                                </label>
                            </div><br>
                            <div class="mt-checkbox-list">
                                <label class="col-md-3 control-label"> Ocean
                                    <input type="checkbox" value="1" name="test" ng-model="user.ocean">
                                    <span></span>
                                </label>
                                <label class="col-md-3 control-label"> Camden
                                    <input type="checkbox" value="1" name="test" ng-model="user.camden">
                                    <span></span>
                                </label>
                                <label class="col-md-3 control-label"> Monmouth
                                    <input type="checkbox" value="1" name="test" ng-model="user.monmouth">
                                    <span></span>
                                </label>
                            </div><br>
                            <div class="mt-checkbox-list">
                                <label class="col-md-3 control-label"> Bergen
                                    <input type="checkbox" value="1" name="test" ng-model="user.bergen">
                                    <span></span>
                                </label>
                                <label class="col-md-3 control-label"> Merser
                                    <input type="checkbox" value="1" name="test" ng-model="user.merser">
                                    <span></span>
                                </label>
                                <label class="col-md-3 control-label"> Union
                                    <input type="checkbox" value="1" name="test" ng-model="user.union">
                                    <span></span>
                                </label>
                            </div><br>
                            <div class="mt-checkbox-list">
                                <label class="col-md-3 control-label"> Hudson
                                    <input type="checkbox" value="1" name="test" ng-model="user.hudson">
                                    <span></span>
                                </label>
                                <label class="col-md-3 control-label"> Somerset
                                    <input type="checkbox" value="1" name="test" ng-model="user.somerset">
                                    <span></span>
                                </label>
                                <label class="col-md-3 control-label"> Essex
                                    <input type="checkbox" value="1" name="test" ng-model="user.essex">
                                    <span></span>
                                </label>
                            </div><br>
                            <div class="mt-checkbox-list">
                                <label class="col-md-3 control-label"> Passaic
                                    <input type="checkbox" value="1" name="test" ng-model="user.passaic">
                                    <span></span>
                                </label>
                                <label class="col-md-3 control-label"> Cape May
                                    <input type="checkbox" value="1" name="test" ng-model="user.capemay">
                                    <span></span>
                                </label>
                                <label class="col-md-3 control-label"> Morris
                                    <input type="checkbox" value="1" name="test" ng-model="user.morris">
                                    <span></span>
                                </label>
                            </div><br>
                            <div class="mt-checkbox-list">
                                <label class="col-md-3 control-label"> Burlington
                                    <input type="checkbox" value="1" name="test" ng-model="user.burlington">
                                    <span></span>
                                </label>
                                <label class="col-md-3 control-label"> Middlesex
                                    <input type="checkbox" value="1" name="test" ng-model="user.middlesex">
                                    <span></span>
                                </label>
                                <label class="col-md-3 control-label"> Warren
                                    <input type="checkbox" value="warren" name="warren" ng-model="user.warren"/>
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': hasError(identityForm.whereHeardUs)}">
                            <label class="col-md-3 control-label" for="whereHeardUs">How did you hear about us?:</label>
                            <div class="col-md-5">
                                <input type="text" name="whereHeardUs" id="notific8_text" class="form-control" ng-model="user.whereHeardUs">
                                <span class="help-block" ng-show="showError(identityForm.whereHeardUs, 'required')">This field is required</span>
                            </div>
                        </div>  
                        <div class="form-group">
                            <div class="col-md-3 control-label" style="padding-top: 0px;">
                                <label class="checkbox">
                                    <input type="checkbox" id="notific8_sticky" value="1"></label>
                            </div>
                            <label>I'd like to receive additional information from www.NJBirdDogs.com about real estate and property locating opportunities</label>
                        </div>                                                                       
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="update"></label>
                            <div class="col-md-5">
                                <button type="button" class="btn red btn-outline sbold uppercase btn-lg" id="notific8_show" ng-disabled="!canSave(identityForm)" ng-click="submit(identityForm)"> Update </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>  
